button {
  width: 120px;
  height: 55px;
  outline: none;
  border: 1px solid rgb(63, 63, 63);
  border-radius: 10px;
  background-color: whitesmoke;
  opacity: 0.5;
  cursor: pointer;
  transition: 0.3s;
  color: black;
}

i {
  font-size: 45px;
}

button:hover {
  opacity: 0.6;
  background-color: rgb(160, 160, 160);
}

button:active {
  transform: scale(0.93);
}
